<h1>注文履歴詳細</h1>
<table>
  　 <tr>
      <th>購入者</th>
      <td>注文個数</td>
    </tr>

    <tr>
      <th>注文日</th>
      <td>注文個数</td>
    </tr>

    <tr>
      <th>発送先</th>
      <td>注文個数</td>
    </tr>

    <tr>
      <th>支払方法</th>
      <td>注文個数</td>
    </tr>

</table>