<div class= "container">
    <div class= "row">
        <div class="col-lg-4"></div>


        <div class="col-lg-8">

        <p class="h4 mt-5">商品一覧</p>
        <div class= "row">
            <% @items.each do |item| %>
            <div class="col-lg-3">
               <%= link_to item_path(item.id) do %>
               <%= image_tag item.get_image(150,150) %>
               <% end %>
               <div><%= item.name %></div>
               <div><%= converting_to_jpy(item.with_tax_price) %></div>

            </div>
            <% end %>
        </div>

       </div>
    </div>
</div>
